AtmCashTest.WpfClient/Service References/AtmCashService/AtmCashService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55846/AtmCashService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AtmCashTest.WcfService.Models" />
  <xs:element name="PutCash">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AtmCashTest.WcfService.Models" minOccurs="0" name="banknotes" nillable="true" type="q1:ArrayOfBanknoteContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutCashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AtmCashTest.WcfService.Models" minOccurs="0" name="PutCashResult" nillable="true" type="q2:ArrayOfBanknoteContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCash">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AtmCashTest.WcfService.Models" minOccurs="0" name="GetCashResult" nillable="true" type="q3:ArrayOfBanknoteContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountSum">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountSumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccountSumResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>